
.main {
  max-width: 1280px;
  margin: 0 auto;
}

.section,
.page-title {
  margin: 4px 8px;
}

.button {
  text-transform: capitalize;
  padding: 8px 16px;
  margin: 4px 8px;
  border-radius: 4px;
  border: 1px solid teal;
  background: teal;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.15s ease; 
}

.button:hover:not(:disabled) {
  background: white;
  color: teal;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--with-input-left {
  margin-left: -3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input {
  margin: 4px 8px;
  padding: 8px 16px;
  border: 1px solid teal;
  border-radius: 4px;
  width: 300px;
}

.input--with-button-right {
  margin-right: -3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}